<!DOCTYPE html>
{% load static %}
<html>
  <head>
    <meta charset="utf-8">
    <title>Note Taking App</title>
  </head>
  <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}" type="text/css">
  <body>
  <div class="container">
    <div class="page-header">
      <h2><a class="navbar-brand" href="{% url 'to:list' %}">Note Taking App</a></h2>
      <nav class="navbar mynav" role="navigation" id="navbar">
        <ul class="nav navbar-nav navbar-right">
          <li><a href="{% url 'to:create' %}">Create</a></li>
          <li><a href="{% url 'to:list' %}">Notes</a></li>
        </ul>
      </nav>
    </div>
      {% block right %}{% endblock %}
      {% block left %}{% endblock %}
  </div>
  </body>
</html>
