{% extends "base.html" %}

{% block left %}
<div class="row">
  <div class="col-md-8">
    <div class="panel panel-primary">
      <div class="panel panel-heading">Login Here</div>
      <div class="panel panel-body">
        <form  method="post">
          {% csrf_token %}
          <h4>Are you sure you want to delete {{ object }}</h4>
          <input type="submit" class="btn btn-danger" value="Confirm">
        </form>
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <div class="panel panel-primary">
      <div class="panel panel-heading">Note Taking App</div>
      <div class="panel panel-body">
        <p>This is the Note Taking App. You can create your to do list and modify it anytime you want.</p>
        <p><b>Talent Mabuto</b></p>
        <p>City: Chipinge</p>
        <p>Mobile: (077) 4579 680</p>
        <p>Talent Mabuto Copyright &copy {% now 'Y' %}</p>
      </div>
    </div>
  </div>
</div>
{% endblock %}
